@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --colot-dark-blue: hsl(218, 44%, 22%);

    --font-outfit: 'Outfit', sans-serif;
}

* {
    padding: 0;
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-light-gray);
}

.container__section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 28vw;
    height: 80vh;
    box-shadow: 1px 1px 1px var(--color-grayish-blue);
    border-radius: 1rem;
    background-color: var(--color-white);
}

.section__qr {
    background-image: url(../images/image-qr-code.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 90%;
    height: 60%;
    margin: 0.1rem 1rem 1rem 1rem;
    border-radius: 1rem;
}

.section__content {
    margin: 0 1rem 1rem 1rem;
    border-radius: 1rem;
    width: 90%;
    height: 25%;
    font-family: var(--font-outfit);
}

.content__title {
    text-align: center;
    font-size: 1.4rem;
    font-weight: 700;
}

.content__text {
    text-align: center;
    font-size: 1rem;
    font-weight: 400;
    color: var(--color-grayish-blue);
    margin-top: 0.8rem;
}

.attribution {
    align-self: flex-start;
    margin: 1rem;
    padding: 0.5rem;
    background-color: var(--colot-dark-blue);
    color: var(--color-light-gray);
    font-family: var(--font-outfit);
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.attribution__text{
    text-align: center;
}

.attribution__text > a {
    text-decoration: none;
    color: var(--color-light-gray);
}

.author:hover {
    text-decoration: underline;
    color: var(--color-grayish-blue)
}

@media (max-width: 375px) {
    .container__section {
        width: 90vw;
        height: 80vh;
    }

    .attribution {
        align-self: center;
    }   
}

@media (max-width: 600px) {
    .container__section {
        width: 60vw;
        height: 80vh;
    }

    .attribution {
        align-self: center;
    }   
}

@media (max-width: 1050px) {
    .container__section {
        width: 35vw;
        height: 80vh;
    }

    .attribution {
        align-self: self-start;
    }   
}